<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/src/output.css' %}" />
    <title>StudyBud</title>
  </head>
  <body>
    {% include "includes/navbar.html" %}

    <div>
      {% if messages %}
        <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>

    <div class='container mx-4 my-10'>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
