{% extends "base.html" %} {% block content %} {% if page == 'login' %}
<div>
  <form action="" method="post">
    {% csrf_token %}
    <h1>Login</h1>
    <div>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required />

      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />

      <button type="submit">Login</button>
    </div>
  </form>

  <p>haven't signed up yet?</p>
  <a href="{% url 'register' %}">Sign up</a>
</div>

{% else %}

<div>
  <h1>Register</h1>
  <form action="" method="post">
    {% csrf_token %} {{form.as_p}}
    <button type="submit">Register</button>
  </form>

  <p>Already registered?</p>
  <a href="{% url 'login' %}">Login</a>
</div>
{% endif %} {% endblock %}
