{% extends "base.html" %} {% block content %} {% if page == 'login' %}
<div class="grid place-items-center">
  <fieldset class="fieldset md:bg-base-200 md:border-base-300 md:rounded-box w-xs md:border p-4">
    <legend class="fieldset-legend text-primary"><span class="hidden md:flex">Login</span></legend>
    <form action="" method="post">
      {% csrf_token %}
      <div class="grid place-items-center text-lg font-semibold text-primary mb-4">
        <h2>Find your study partner</h2>
      </div>

      <div>
        <div class="mb-4">
          <label for="email" class="label block mb-1 font-semibold">Username</label>
          <input type="text" class="input" name="email" id="email" placeholder="username@example.com" required />
        </div>

        <div class="mb-4">
          <label for="password" class="label block mb-1 font-semibold">Password</label>
          <input type="password" class="input" name="password" id="password" placeholder="******" required />
        </div>

        <div class="mb-4">
          <button class="btn btn-primary w-full">Login</button>
        </div>
      </div>
    </form>

    <div class="grid place-items-center">
      <p><span class="opacity-60">haven't signed up yet?</span> <a href="{% url 'register' %}" class="text-primary">Sign up</a></p>
    </div>
  </fieldset>
  {% else %}

  <div class="grid place-items-center">
    {% load widget_tweaks %}
    <fieldset class="fieldset md:bg-base-200 md:border-base-300 md:rounded-box w-xs md:border p-4">
      <div class="grid md:hidden place-items-center text-lg font-semibold text-primary mb-4">
        <h2>Register with Us</h2>
      </div>

      <legend class="fieldset-legend text-primary"><span class="hidden md:flex">Register</span></legend>
      <form action="" method="post">
        {% csrf_token %} {% for field in form %}
        <div class="mb-4">
          <label class="block mb-1 font-semibold">{{ field.label }}</label>
          {{ field|add_class:"input input-bordered w-full" }} {% if field.errors %}
          <div class="text-error text-xs w-full">{{ field.errors }}</div>
          {% endif %}
        </div>
        {% endfor %} {{ form.non_field_errors }}

        <div class="mb-4">
          <button class="btn btn-primary w-full">Register</button>
        </div>
      </form>

      <div class="grid place-items-center">
        <p><span class="opacity-60">Already registered?</span> <a href="{% url 'login' %}" class="text-primary">Login</a></p>
      </div>
    </fieldset>
  </div>
  {% endif %}
</div>
{% endblock %}
