{% extends "base.html" %} {% block content %}
<div class="grid place-items-center">
  {% load widget_tweaks %}
  <fieldset class="fieldset md:bg-base-200 md:border-base-300 md:rounded-box w-xs md:border p-4">
    <div class="grid md:hidden place-items-center text-lg font-semibold text-primary mb-4">
      <h2>Edit User Profile</h2>
    </div>
    <legend class="fieldset-legend text-primary"><span class="hidden md:flex">Edit User Profile</span></legend>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %} {% for field in form %}
      <div class="mb-4">
        <label for="room_name" class="block mb-1 font-semibold">{{field.label}}</label>
        {{field|add_class:"input input-bordered w-full"}}
      </div>
      {% endfor %}

      <div class="flex items-center justify-end gap-3 mt-6">
        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-soft btn-primary">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </fieldset>
</div>
{% endblock %}
